html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #222;
}

body > .container {
    padding: 40px 15px 0;
}
.container .text-muted {
    margin: 10px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.centering {
    text-align: center;
}

#main {
    background: #f0f0f0 url("../images/two_women.png") no-repeat fixed 0 50px;
    background-size: contain;
    margin-top:50px;
}

#about {
    background: #f0f0f0 url("../images/woman.jpg") no-repeat fixed;
    background-size: cover;
}

#title {
    color: #aaaaaa;
}

#microphone {
    position: absolute;
    top: 20%;
    right: 20px;
    width: 50px;
}

.faa-bust {
    position: absolute;
    top: 20%;
    right: 20px;
    width: 50px;
}

#microphone:hover {
    color: #ac2925;
}

h1 {
    font-size: 100px;
}

.pink {
    color: hotpink;
}

#input {
    margin-top: 50px;
    margin-bottom: 20px;

}

#output {
    margin-top: 50px;
    margin-bottom: 50px;

}

/* Lサイズ、ワイドスクリーン : Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    h1 {font-size: 100px;}

}

/* Mサイズ、デスクトップ : Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    h1 {font-size: 100px;}
    #microphone {top:7%;}

}

/* Sサイズ、タブレット : Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    h1 {font-size: 70px;}
    #microphone {top:7%;}

}

/* XSサイズ : Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    h1 {font-size: 50px;}
    #microphone {top:7%;}

}

/* カスタム, iPhone Retinaディスプレイ */
@media only screen and (max-width : 320px) {
    h1 {font-size: 40px;}
    #microphone {top:7%;}

}
