<!DOCTYPE html>
{% load staticfiles %}
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>{% block title %}MPL{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/libs/font-awesome-4.5.0/css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/libs/font-awesome-animation.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/MPL.css' %}">
</head>

<body>
  {% block content %}{% endblock %}
  <script src="{% static 'js/libs/jquery-2.2.0.min.js' %}"></script>
  <script src="{% static 'js/libs/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/MPL.js' %}"></script>
</body>
</html>
