{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
  <div id="main">
    <div class="container">
        <h1 id="title" class="centering">{% trans "Moaning<br> Programming<br> Language" %}</h1>
        <p class="centering pink">{% trans "You moan, program moan." %}</p>
        <form class="form-horizontal" action="" method="get">
          {% csrf_token %}
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <i id="microphone" class="fa fa-microphone fa-3x"></i>
              {{ form.editor }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-offset-5 col-sm-offset-5 col-md-offset-5 col-lg-offset-5">
              <button id="submit" type="button" class="btn btn-outline btn-lg col-sm-3 col-md-3 col-lg-3">
                RUN
              </button>
            </div>
          </div>
        </form>
      <div class="row">
        <div class="col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
          <input id="output" type="text" class="form-control input-lg" placeholder="output">
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
